<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Ultra</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/style.css?v=1">
<link rel="stylesheet" href="/public/css/colors/blue.css">

<!-- Scripts
================================================== -->
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/public/js/mmenu.min.js"></script>
<script src="/public/js/tippy.all.min.js"></script>
<script src="/public/js/simplebar.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/bootstrap-slider.min.js"></script>
<script src="/public/js/bootstrap-select.min.js"></script>
<script src="/public/js/snackbar.js"></script>
<script src="/public/js/clipboard.min.js"></script>
<script src="/public/js/counterup.min.js"></script>
<script src="/public/js/magnific-popup.min.js"></script>
<script src="/public/js/slick.min.js"></script>
<script src="/public/js/custom.js"></script>

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <%
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    %>

    <script>
        var months= ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    </script>


<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

    <!-- Header -->
    <div id="header">
        <div class="container">
            
            <!-- Left Side Content -->
            <!-- <div class="left-side"> -->
                <!-- <div class="row"> -->
                <!-- Logo -->
                <div class="row py-4 align-items-center ">

                <div class="col-md-2" id="logo">
                    <a href="/"><img src="/public/images/newlogo.png" alt=""></a>
                </div>
            <!-- </div> -->
            <!-- </div> -->
            <!-- Left Side Content / End -->


<!-- <div class="center-side">
    
</div> -->
            <!-- Right Side Content / End -->
            <!-- <div class="right-side"> -->
                
                <% if (typeof isLogin !== 'undefined' && isLogin){ %>
                    
                    <div class="col-md-5">
                        <div class="container-fluid">
                            <form class="d-flex" role="search" method="get" action="/search" role="search">
                              <input class="form-control me-2" type="search"name="search" placeholder="Search" aria-label="Search"/>
                              <button class="btn mx-2 rounded btn-primary " style="width: 50px; height:50px" type="submit">
                                <h1 class="text-white"><i class="icon-material-outline-search fs-1"></i></h1>
                              </button>
                            </form>
                          </div>
                    </div>

                    <div class=" col-md-4 d-flex justify-content-end">
                        <div class="header-notifications user-menu">
                        <div class="header-notifications-trigger">
                            <a href="#">
                                <div class="user-avatar status-online">
                                    <img src="/public/images/1246351.svg" alt="User Profile" />
                                </div>
                            </a>
                        </div>

                        <div class="header-notifications-dropdown">
                            <div class="user-status">
                            <div class="user-details">
                                <div class="user-avatar status-online">
                                    <img src="/public/images/1246351.svg" alt="" srcset="">
                                </div>

                                <div class="user-name">
                                    <a href="view-profile?id=<%= user._id %>"><%= user.name %></a>
                                    <span><%= user.email %></span>
                                </div>
                            </div>
                        </div>
                        

                        <ul class="user-menu-small-nav">
                            <li>
                                <a href="/my_uploads">
                                    <i class="icon-material-outline-backup"></i> My Uploads
                                </a>
                            </li>

                            <li>
                                <a href="/logout">
                                    <i class="icon-material-outline-power-settings-new"></i>Logout
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                
            </div>

                <% } else { %>

                    <nav id="navigation" class="align-items-center mt-0 p-auto">
                        <ul id="responsive">
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    </nav>


                <% } %>
                

            </div>
            <!-- Right Side Content / End -->
        </div>
        </div>
    <!-- </div> -->
    <!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->
